@font-face {
  font-family: 'SoCloudy';
  src: url('fonts/SoCloudy-PV7yd.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'SoCloudy', sans-serif;
}

body{
  background-color:sandybrown;
  color:white;
  margin-top: 30px;
}

/* Navbar */
nav{
  position:fixed;
  width:100%;
  top:0;
  z-index:100;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding: 20px 30px;

  background:rgb(38, 166, 246);
  backdrop-filter:blur(10px);
  
  border-radius: 0 0 80px 80px;
}


.logo{
  color:white;
  font-family: 'SoCloudy', sans-serif;
  font-size: 52px;
  font-weight: bolder;
  padding: 0px 100px;
  
}


#login{
    margin: 0px 50px 0px 50px;
    
    font-weight: bolder;
    padding: 10px 30px 0px 30px;
    font-size: 18px;
    aspect-ratio: 1.8;
    border:none;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    color: green;
}
#login:hover{
    cursor: pointer;
}

/* Hero */
.hero{
  height:100vh;

  background:url(images/background.jpeg);

  background-size:cover;
  background-position:center;

  display:flex;
  

  padding:0 70px;
  position: relative;
}

.hero-content{
  width:600px;
  animation:fadeUp 1.2s ease;
  margin-top: 100px;
}

.hero-content h1{
  font-size:80px;
  margin-bottom: 20px;
}
#welcome{
    height: 80px;
    border-radius: 100px;
    padding-top: 10px;
}

.hero-content p{
  color:#ebe9e9;
  font-size: 24px;
  font-weight: bold;
}
#arrow{
    height:40px;
    color: white;
    padding: 15px 10px 0px 0px;
}
.hero-content #start{
    color:#ebe9e9;
    margin-top: 300px;
    font-size: 30px;
    font-weight: bold;
}


/* Characters section */
.section{
  padding:30px;
}

.section h1{
  margin:0px 0px 30px 0px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  
}

.characters{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
  justify-content: space-between;
}

.card{
  width:220px;
  height:320px;

  border-radius:20px;
  overflow:hidden;
  cursor:pointer;

  position:relative;

  transition:.4s;
  border-width: 0.2em;
  border-style: dashed;
  border-color:darkgreen;

}

.card img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.card:hover{
  transform:scale(1.08);
}

.card-title{
  position:absolute;
  bottom:0;
  width:100%;
  padding:15px;

  background:linear-gradient(transparent, black);
}

/* Animasyon */
@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(50px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

@media(max-width:768px){

  nav{
    padding:20px;
  }

  .menu{
    display:none;
  }

  .hero{
    padding:20px;
  }

  .hero-content h1{
    font-size:40px;
  }

}

.container{
    position: absolute; 
  top: calc(50% + 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.form{
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 3px dotted darksalmon;
    background: white;
    border-radius: 30px;
    animation:fadeUp 1.2s ease;
    
    
}

input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid green;
}

footer{
  width:100%;
  padding: 15px;
  bottom: 0;
  z-index: 100;
  background:rgb(38, 166, 246);
  backdrop-filter:blur(10px);
  text-align:center;
  justify-content: center;
  font-size: 20px;
  border-radius: 80px 80px 0 0;
}
